name: Build and Test

on: 
  pull_request:
  push:
    branches:
      - main

env:
  RUSTFLAGS: -Dwarnings

jobs:
  test:
    strategy:
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]
        target: [x86_64-pc-windows-msvc, aarch64-pc-windows-msvc, aarch64-apple-darwin, x86_64-unknown-linux-gnu]
        rust: [stable]
        exclude:
          - os: windows-latest
            target: [aarch64-apple-darwin, x86_64-unknown-linux-gnu]
          - os: macos-latest
            target: [x86_64-unknown-linux-gnu, x86_64-pc-windows-msvc, aarch64-pc-windows-msvc]
          - os: ubuntu-latest
            target: [aarch64-apple-darwin, x86_64-pc-windows-msvc, aarch64-pc-windows-msvc]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: ${{ matrix.rust }}
        target: ${{ matrix.target }}
        profile: minimal
        override: true
        components: rustfmt

    - name: tests
      run: cargo test --all --target ${{ matrix.target }}

    - name: fmt
      run: cargo fmt --all -- --check
      if: matrix.rust == 'stable'
